node_modules
dist
src/assets/fonts/Montserrat/static
src/assets/fonts/Montserrat/OFL.txt
src/assets/fonts/Montserrat/README.txt
src/assets/WeatherIcons-main.zip
src/assets/WeatherIcons-main
jsdoc
out
pseudo.md
